<div class="container">
    <div class="card login-card col-md-8 mx-auto ">
        <div class="card-body">
            <h4 class="card-title">Global Pokedex Service Registration</h4>
            <form [formGroup]="registrationForm">
                <div class="md-form" [ngClass]="{'error': registrationForm.controls['username'].errors && !registrationForm.controls['username'].pristine}">
                    <input type="text" id="orangeForm-name" formControlName="username" class="form-control" mdbActive>
                    <label for="orangeForm-name">Your name</label>
                    <div *ngIf="registrationForm.controls['username'].errors && !registrationForm.controls['username'].pristine" class="error-msg">
                        <div [hidden]="!registrationForm.controls['username'].errors.required">Name is required.</div>
                    </div>
                </div>
                <div class="md-form" [ngClass]="{'error': registrationForm.controls['email'].errors && !registrationForm.controls['email'].pristine}">
                    <input type="email" id="orangeForm-email" formControlName="email" class="form-control" mdbActive>
                    <label for="orangeForm-email">Your email</label>
                    <div *ngIf="registrationForm.controls['email'].errors && !registrationForm.controls['email'].pristine" class="error-msg">
                        <div [hidden]="!registrationForm.controls['email'].errors.required">Email is required.</div>
                        <div [hidden]="!registrationForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
                    </div>
                </div>
            
                <div class="md-form" [ngClass]="{'error': registrationForm.controls['password'].errors && !registrationForm.controls['password'].pristine}">
                    <input type="password" id="orangeForm-pass" formControlName="password" class="form-control" mdbActive>
                    <label for="orangeForm-pass">Your password</label>
                    <div *ngIf="registrationForm.controls['password'].errors && !registrationForm.controls['password'].pristine" class="error-msg large">
                        <div [hidden]="!registrationForm.controls['password'].errors.required">Password is required.</div>
                        <div class="error-message-large" [hidden]="!registrationForm.controls['password'].errors.patternInvalid">Password must contain between (8 - 32 ) chars, at least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character</div>
                    </div>
                </div>
            
                <div class="text-center ">
                    <button class="btn btn-primary waves-light" mdbRippleRadius [disabled]="registrationForm.invalid" (click)="register()">Sign up</button>
                </div>
            
            </form>
            <div class="text-center">
                <button class="btn btn-default waves-light" mdbRippleRadius [routerLink]="['/pokedexlogin']">Cancel</button>
            </div>                        
        </div>
    </div>
</div>