<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-red scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" tabindex="0"[routerLink]="['/pokedexselection']"><strong>Global Pokedex Service</strong></a>
    </logo>
    
    <links>
        <ul class="navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['/pokedexlogin']">Logout</a>                
            </li>            
        </ul>
    </links>
</mdb-navbar>

<main>
    <div class="container" >
        <div class="row mt-5 pt-5">
            <div class="col text-center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>
